// Layout

#header {
  padding: 2em;

  font-family: sans-serif;

  background-color: $ruby-color;
  text-align: center;
}

.job-board {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  &__code {
    font-size: 28px;
    color: $code-color;
  }

  &__highlight {
    font-weight: normal;
    color: $secondary-color;
  }
}
