// Variables

// Base
$font-family: 'Open Sans', 'LantingHei TC', sans-serif;

// Colors
$white: white;
$primary-color: #FdF6E3;
$secondary-color: #DC322F;
$code-color: #586E75;
$ruby-color: #B52E31;
